<extends src="master.html">
    <block name="title"><title>Contact</title></block>
    <block name="content">
        <article>
            <header>
                <h1>Welcome, this is contact page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p>
            </header>
            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat consequat mauris vitae commodo. Donec suscipit commodo pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet lacus sit amet orci iaculis malesuada in et felis. Cras maximus sem quis risus pulvinar vehicula. Aenean egestas ligula vitae mauris rhoncus placerat. Nam bibendum tellus sed turpis tristique, id pretium ipsum aliquet. Donec pretium feugiat venenatis. Donec vel massa in magna tempus lobortis eu in nibh.</p>
                <p>Morbi ex felis, malesuada sit amet imperdiet sit amet, commodo id ligula. Vivamus suscipit vestibulum sapien at fermentum. Suspendisse at quam risus. Pellentesque ut mi in diam laoreet porta ac id ipsum. Fusce elit risus, molestie et laoreet eget, interdum ut elit. Morbi at libero in leo egestas consectetur ac ut odio. Quisque aliquam ipsum non metus efficitur, a lacinia augue ornare. Fusce porttitor, eros at aliquet tincidunt, lorem dolor pulvinar elit, dictum commodo metus neque ut metus. Nullam vitae nisl elementum, varius felis eu, iaculis est. Fusce elementum enim nec fringilla rhoncus. Nulla non diam nec felis mattis fermentum accumsan ut nisl.</p>
                <p>Vestibulum vitae aliquam lectus. Sed lacus velit, varius sit amet ipsum ac, suscipit sodales libero. Donec id lorem posuere felis mollis faucibus. Aliquam elit ligula, aliquam ac fermentum sed, pulvinar vel felis. Sed ullamcorper eu dolor non sollicitudin. Ut vel eros vel justo tincidunt fermentum id at libero. Suspendisse elementum tortor leo, tincidunt rutrum odio congue ut. Suspendisse potenti. Suspendisse ut ante tempus, vehicula mauris eget, consequat est. Fusce et enim quis magna dapibus ultrices. Sed non est eu libero fermentum finibus nec in sem. Cras ut leo id ipsum suscipit rhoncus et eget enim. Vivamus nunc arcu, accumsan at scelerisque a, ultrices at risus. Sed condimentum fringilla augue sed tempor. Fusce sit amet turpis eros.</p>
                <p>Integer ac sapien commodo, sollicitudin massa in, porttitor ligula. Vivamus eget lacus at diam facilisis tempus. Aenean commodo ante at mi dictum, pharetra consectetur ipsum porta. Vivamus non pharetra felis. Quisque tempus, justo in pellentesque sodales, sapien neque fermentum sem, non convallis nisi massa a tortor. Praesent at ipsum a velit feugiat euismod ac non erat. Mauris neque justo, finibus nec dictum eget, dictum nec lorem. Phasellus eu libero sit amet dolor porta semper. Praesent nec elementum turpis, in malesuada nunc.</p>
                <p>Curabitur scelerisque aliquet lorem vel accumsan. Donec eget dui in tortor accumsan convallis eget in arcu. Etiam id est scelerisque, dignissim nunc nec, tempus lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris nec vulputate lorem, sit amet facilisis enim. Maecenas euismod risus non dui imperdiet, et vulputate est vestibulum. Aliquam quis nisl faucibus, congue ligula sed, lobortis justo. Vestibulum a condimentum orci. Nullam ut gravida neque, sed tempor nibh. Etiam eu blandit lacus, nec convallis eros. Nullam non vestibulum augue. Nunc malesuada sit amet elit interdum mattis. Proin eu ipsum risus. Fusce tincidunt augue sit amet nunc convallis finibus porta ac nibh. Integer ac feugiat nulla, a suscipit nisl.</p>
            </section>
        </article>
    </block>
</extends>
